@using Vidly.Models
@model List<Vidly.Models.Customer>
@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>Customers</th>
        <th>Membership Type</th>
    </tr>

    @foreach( var customer in Model )
    {
        <tr>
            <td>@Html.ActionLink( @customer.Name, "Edit/" + @customer.Id, "Customers" )</td>
            <td>@customer.MembershipType.Name</td>
        </tr>
    }
</table>